.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    color: white;
    
}

.header{
    background-color: darkgreen;
    width: 980px;
    height: 140px;
    border: 1px solid black;
    /*padding: 50px 0 0 0;*/
    padding-top: 70px;
   
    
}


.sidebar{
    background-color: darkcyan;
    width: 270px;
    height: 450px;
    border: 1px solid black;
    margin-top: 11px; 
    margin-right: 710px;
    padding-top: 225px;
    
}


.content{
    background-color: darkcyan;
    width: 695px;
    height: 450px;
    border: 1px solid black;
    position: relative;
    bottom: 677px;
    margin-left: 289px;
    padding-top: 225px;
}


footer{
    position: relative;
    bottom: 666px;
    background-color: darkgreen;
    width: 980px;
    height: 70px;
    padding-top: 35px;
}

p {
    margin: 0;
    font-size: 45%;
}

.foot{
    position: relative;
    bottom: 24px;
    margin-left: 185px;
}