body{
    background-color: grey;
}

table, th, td {
    text-align: center;
    border-collapse: collapse;
}


table {
    border: 5px solid black;
}

td {
    background-color: blue;
}

th {
    background-color: red;
    padding: 8px;
}

td, th{
    border: 3px solid black;
    border-collapse: collapse;  /* avoid double borders,  this property makes borders collapse into a single border*/

    border-radius: 5px;

    border-style: solid;

}


